In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor

In [11]:
ls

 Volume in drive C is OS
 Volume Serial Number is 0499-EE93

 Directory of C:\Users\Jonat\dat-07-28\DAT-07-28\ClassMaterial\Unit3\data

09/05/2020  02:34 PM    <DIR>          .
09/05/2020  02:34 PM    <DIR>          ..
07/31/2019  02:10 PM           764,500 bikeshare.csv
03/15/2020  03:46 PM            35,203 housing.csv
09/01/2020  12:41 AM            77,471 iowa_train.csv
02/27/2020  03:39 PM           118,080 iowa_train2.csv
               4 File(s)        995,254 bytes
               2 Dir(s)  774,947,803,136 bytes free

In [44]:
df = pd.read_csv('../data/iowa_train2.csv')

In [45]:
def denote_null_values(df):
    empty_cols_query = df.isnull().sum() > 0
    empty_df_cols = df.loc[:, empty_cols_query].columns.tolist()
    for col in empty_df_cols:
        col_name = f"{col}_missing"
        df[col_name] = pd.isnull(df[col])
    return df

df = denote_null_values(df)

In [46]:
missing_cols_query = df.isnull().sum() > 0
missing_cols_num = df.loc[:, missing_cols_query].select_dtypes(include=np.number).columns.tolist()
missing_cols_cat = df.loc[:, missing_cols_query].select_dtypes(include=np.object).columns.tolist()
df[missing_cols_num] = df[missing_cols_num].fillna(0)
df[missing_cols_cat] = df[missing_cols_cat].fillna('None')

In [15]:
cat_cols = df.select_dtypes(include=np.object).columns.tolist()
df[cat_cols] = df[cat_cols].astype('category')
for col in cat_cols:
    df[col] = df[col].cat.codes

In [31]:
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

from sklearn.ensemble import GradientBoostingRegressor

gbm = GradientBoostingRegressor(n_estimators=5000)

In [32]:
gbm.fit(X, y)
gbm.score(X, y)

0.9999862101292528

In [18]:
feats = pd.DataFrame({
    'Column': X.columns,
    'Importance': gbm.feature_importances_
}).sort_values(by='Importance', ascending=False)

In [19]:
feats

                  Column  Importance
5            OverallQual    0.560819
8              GrLivArea    0.090686
9               1stFlrSF    0.075289
11           GrLivArea.1    0.060417
17            GarageCars    0.051237
10              2ndFlrSF    0.038164
7              YearBuilt    0.033079
3                LotArea    0.023554
14            GarageType    0.015940
15           GarageYrBlt    0.012135
6            OverallCond    0.011780
12              FullBath    0.008599
2               MSZoning    0.007749
4           Neighborhood    0.006757
1             MSSubClass    0.001346
13              HalfBath    0.001203
0                     Id    0.000779
16          GarageFinish    0.000469
18    GarageType_missing    0.000000
19   GarageYrBlt_missing    0.000000
20  GarageFinish_missing    0.000000

In [20]:
df.isnull().sum()

Id                      0
MSSubClass              0
MSZoning                0
LotArea                 0
Neighborhood            0
OverallQual             0
OverallCond             0
YearBuilt               0
GrLivArea               0
1stFlrSF                0
2ndFlrSF                0
GrLivArea.1             0
FullBath                0
HalfBath                0
GarageType              0
GarageYrBlt             0
GarageFinish            0
GarageCars              0
SalePrice               0
GarageType_missing      0
GarageYrBlt_missing     0
GarageFinish_missing    0
dtype: int64

In [21]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,SalePrice,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
0,1,60,3,8450,5,7,5,2003,1710,856,...,2,1,1,2003.0,2,2,208500,False,False,False
1,2,20,3,9600,24,6,8,1976,1262,1262,...,2,0,1,1976.0,2,2,181500,False,False,False
2,3,60,3,11250,5,7,5,2001,1786,920,...,2,1,1,2001.0,2,2,223500,False,False,False
3,4,70,3,9550,6,7,5,1915,1717,961,...,1,0,5,1998.0,3,3,140000,False,False,False
4,5,60,3,14260,15,8,5,2000,2198,1145,...,2,1,1,2000.0,2,3,250000,False,False,False

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1985)

In [25]:
X_train.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
461,462,70,3,7200,18,7,9,1936,1135,575,...,1135,1,0,5,1971.0,2,2,False,False,False
373,374,20,3,10634,12,5,6,1953,1319,1319,...,1319,1,0,1,1953.0,3,1,False,False,False
1271,1272,20,3,9156,14,6,7,1968,1489,1489,...,1489,2,0,1,1968.0,2,2,False,False,False
634,635,90,3,6979,17,6,5,1980,1056,1056,...,1056,0,0,5,1980.0,3,2,False,False,False
1245,1246,80,3,12090,14,6,7,1984,1868,1140,...,1868,3,1,3,1984.0,0,2,False,False,False

In [26]:
X_train.shape

(1168, 21)

In [27]:
X_test.shape

(292, 21)

In [28]:
y_train.shape

(1168,)

In [29]:
y_test.shape

(292,)

In [30]:
gbm.fit(X_train, y_train)
gbm.score(X_test, y_test)

0.8772705782607931

In [33]:
X_train.shape, y_train.shape

((1168, 21), (1168,))

In [34]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1985)

In [35]:
gbm.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=5000,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [36]:
gbm.score(X_val, y_val)

0.8605305205971264

In [38]:
gbm.set_params(n_estimators=100)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [37]:
from sklearn.model_selection import cross_val_score

In [39]:
cross_val_score(estimator=gbm, X=X_train, y=y_train, cv=10)

array([0.79495071, 0.90676662, 0.89349464, 0.86458579, 0.91424282,
       0.88832266, 0.22301789, 0.81920855, 0.86506974, 0.9419015 ])

In [40]:
!pip install category-encoders

Requirement already satisfied: category-encoders in c:\users\jonat\anaconda\lib\site-packages (2.0.0)
Requirement already satisfied: numpy>=1.11.3 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (1.18.1)
Requirement already satisfied: patsy>=0.4.1 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (1.0.3)
Requirement already satisfied: scipy>=0.19.0 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\jonat\anaconda\lib\site-packages (from category-encoders) (0.11.0)
Requirement already satisfied: six in c:\users\jonat\appdata\roaming\python\python37\site-packages (from patsy>=0.4.1->category-encoders) (1.11.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\jonat\anaconda\lib\site-packages (from pandas>=0.21.1->category-encoders) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jonat\appdata\roaming\python\python37\site-packages (from pandas>=0.21.1->category-encoders) (2.8.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jonat\anaconda\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (0.14.1)

In [41]:
import category_encoders as ce

In [42]:
ore = ce.OrdinalEncoder()

In [54]:
X_train.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
461,462,70,RL,7200,SWISU,7,9,1936,1135,575,...,1135,1,0,Detchd,1971.0,RFn,2,False,False,False
373,374,20,RL,10634,NAmes,5,6,1953,1319,1319,...,1319,1,0,Attchd,1953.0,Unf,1,False,False,False
1271,1272,20,RL,9156,NWAmes,6,7,1968,1489,1489,...,1489,2,0,Attchd,1968.0,RFn,2,False,False,False
634,635,90,RL,6979,OldTown,6,5,1980,1056,1056,...,1056,0,0,Detchd,1980.0,Unf,2,False,False,False
1245,1246,80,RL,12090,NWAmes,6,7,1984,1868,1140,...,1868,3,1,BuiltIn,1984.0,Fin,2,False,False,False

In [52]:
ore.fit_transform(X_train)

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
461,462,70,1,7200,1,7,9,1936,1135,575,...,1135,1,0,1,1971.0,1,2,False,False,False
373,374,20,1,10634,2,5,6,1953,1319,1319,...,1319,1,0,2,1953.0,2,1,False,False,False
1271,1272,20,1,9156,3,6,7,1968,1489,1489,...,1489,2,0,2,1968.0,1,2,False,False,False
634,635,90,1,6979,4,6,5,1980,1056,1056,...,1056,0,0,1,1980.0,2,2,False,False,False
1245,1246,80,1,12090,3,6,7,1984,1868,1140,...,1868,3,1,3,1984.0,3,2,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,447,20,1,16492,2,6,6,1966,1888,1888,...,1888,2,1,2,1966.0,3,2,False,False,False
1376,1377,30,1,6292,1,6,5,1930,790,790,...,790,1,0,1,1925.0,2,1,False,False,False
1078,1079,120,2,4435,12,6,5,2004,848,848,...,848,1,0,2,2004.0,1,2,False,False,False
709,710,20,1,7162,6,5,7,1966,904,904,...,904,1,0,2,1966.0,2,1,False,False,False
1317,1318,120,4,4230,8,7,5,2006,1352,1352,...,1352,2,0,2,2006.0,1,2,False,False,False

In [53]:
ore.transform(X_test)

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
1023,1024,120,1,3182,19,7,5,2005,1504,1504,...,1504,2,0,2,2005.0,3,2,False,False,False
1253,1254,60,1,17542,14,7,7,1974,2167,1516,...,2167,2,1,2,1974.0,1,2,False,False,False
1274,1275,50,1,5362,16,5,6,1910,1250,661,...,1250,2,0,1,1985.0,2,2,False,False,False
1185,1186,50,1,9738,13,5,7,1924,1221,949,...,1221,1,0,2,1965.0,2,1,False,False,False
91,92,20,1,8500,2,5,3,1961,1235,1235,...,1235,1,0,2,1961.0,2,2,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,740,60,1,9313,12,7,5,2004,1728,864,...,1728,2,1,2,2004.0,1,2,False,False,False
1434,1435,20,1,17400,22,5,5,1977,1126,1126,...,1126,2,0,2,1977.0,1,2,False,False,False
547,548,85,1,7244,22,5,7,1970,768,768,...,768,1,0,1,1987.0,2,2,False,False,False
1106,1107,20,1,10357,9,7,5,1990,1442,1442,...,1442,2,0,2,1990.0,3,2,False,False,False
130,131,60,1,14200,2,7,6,1966,2157,1216,...,2157,2,1,2,1966.0,3,2,False,False,False

In [47]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,SalePrice,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
0,1,60,RL,8450,CollgCr,7,5,2003,1710,856,...,2,1,Attchd,2003.0,RFn,2,208500,False,False,False
1,2,20,RL,9600,Veenker,6,8,1976,1262,1262,...,2,0,Attchd,1976.0,RFn,2,181500,False,False,False
2,3,60,RL,11250,CollgCr,7,5,2001,1786,920,...,2,1,Attchd,2001.0,RFn,2,223500,False,False,False
3,4,70,RL,9550,Crawfor,7,5,1915,1717,961,...,1,0,Detchd,1998.0,Unf,3,140000,False,False,False
4,5,60,RL,14260,NoRidge,8,5,2000,2198,1145,...,2,1,Attchd,2000.0,RFn,3,250000,False,False,False

In [48]:
c

In [49]:
X.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
0,1,60,RL,8450,CollgCr,7,5,2003,1710,856,...,1710,2,1,Attchd,2003.0,RFn,2,False,False,False
1,2,20,RL,9600,Veenker,6,8,1976,1262,1262,...,1262,2,0,Attchd,1976.0,RFn,2,False,False,False
2,3,60,RL,11250,CollgCr,7,5,2001,1786,920,...,1786,2,1,Attchd,2001.0,RFn,2,False,False,False
3,4,70,RL,9550,Crawfor,7,5,1915,1717,961,...,1717,1,0,Detchd,1998.0,Unf,3,False,False,False
4,5,60,RL,14260,NoRidge,8,5,2000,2198,1145,...,2198,2,1,Attchd,2000.0,RFn,3,False,False,False

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1985)

In [51]:
X_train.head()

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
461,462,70,RL,7200,SWISU,7,9,1936,1135,575,...,1135,1,0,Detchd,1971.0,RFn,2,False,False,False
373,374,20,RL,10634,NAmes,5,6,1953,1319,1319,...,1319,1,0,Attchd,1953.0,Unf,1,False,False,False
1271,1272,20,RL,9156,NWAmes,6,7,1968,1489,1489,...,1489,2,0,Attchd,1968.0,RFn,2,False,False,False
634,635,90,RL,6979,OldTown,6,5,1980,1056,1056,...,1056,0,0,Detchd,1980.0,Unf,2,False,False,False
1245,1246,80,RL,12090,NWAmes,6,7,1984,1868,1140,...,1868,3,1,BuiltIn,1984.0,Fin,2,False,False,False

In [56]:
ore.category_mapping

[{'col': 'MSZoning',
  'mapping': RL         1
  RM         2
  RH         3
  FV         4
  C (all)    5
  NaN       -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'Neighborhood',
  'mapping': SWISU       1
  NAmes       2
  NWAmes      3
  OldTown     4
  NridgHt     5
  Sawyer      6
  ClearCr     7
  Somerst     8
  SawyerW     9
  NPkVill    10
  BrkSide    11
  CollgCr    12
  Edwards    13
  Veenker    14
  Gilbert    15
  Crawfor    16
  NoRidge    17
  MeadowV    18
  Blmngtn    19
  Timber     20
  BrDale     21
  Mitchel    22
  StoneBr    23
  Blueste    24
  IDOTRR     25
  NaN        -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'GarageType',
  'mapping': Detchd     1
  Attchd     2
  BuiltIn    3
  2Types     4
  None       5
  Basment    6
  CarPort    7
  NaN       -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'GarageFinish',
  'mapping': RFn     1
  Unf     2
  Fin     3
  None    4
  NaN    -2
  dtype: int64,
  'data_type': dtype('O')}]

In [57]:
from sklearn.pipeline import make_pipeline

In [58]:
gbm

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [59]:
ore

OrdinalEncoder(cols=['MSZoning', 'Neighborhood', 'GarageType', 'GarageFinish'],
               drop_invariant=False, handle_missing='value',
               handle_unknown='value',
               mapping=[{'col': 'MSZoning', 'data_type': dtype('O'),
                         'mapping': RL         1
RM         2
RH         3
FV         4
C (all)    5
NaN       -2
dtype: int64},
                        {'col': 'Neighborhood', 'data_type': dtype('O'),
                         'mapping': SWISU       1
NAmes       2
NWAmes      3
OldTown     4
NridgHt     5
Sawyer      6
ClearCr     7
Somer...
Gilbert    15
Crawfor    16
NoRidge    17
MeadowV    18
Blmngtn    19
Timber     20
BrDale     21
Mitchel    22
StoneBr    23
Blueste    24
IDOTRR     25
NaN        -2
dtype: int64},
                        {'col': 'GarageType', 'data_type': dtype('O'),
                         'mapping': Detchd     1
Attchd     2
BuiltIn    3
2Types     4
None       5
Basment    6
CarPort    7
NaN       -2
dtype: int64},
                        {'col': 'GarageFinish', 'data_type': dtype('O'),
                         'mapping': RFn     1
Unf     2
Fin     3
None    4
NaN    -2
dtype: int64}],
               return_df=True, verbose=0)

In [60]:
pipe = make_pipeline(ore, gbm)

In [61]:
X_train

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,...,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageType_missing,GarageYrBlt_missing,GarageFinish_missing
461,462,70,RL,7200,SWISU,7,9,1936,1135,575,...,1135,1,0,Detchd,1971.0,RFn,2,False,False,False
373,374,20,RL,10634,NAmes,5,6,1953,1319,1319,...,1319,1,0,Attchd,1953.0,Unf,1,False,False,False
1271,1272,20,RL,9156,NWAmes,6,7,1968,1489,1489,...,1489,2,0,Attchd,1968.0,RFn,2,False,False,False
634,635,90,RL,6979,OldTown,6,5,1980,1056,1056,...,1056,0,0,Detchd,1980.0,Unf,2,False,False,False
1245,1246,80,RL,12090,NWAmes,6,7,1984,1868,1140,...,1868,3,1,BuiltIn,1984.0,Fin,2,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,447,20,RL,16492,NAmes,6,6,1966,1888,1888,...,1888,2,1,Attchd,1966.0,Fin,2,False,False,False
1376,1377,30,RL,6292,SWISU,6,5,1930,790,790,...,790,1,0,Detchd,1925.0,Unf,1,False,False,False
1078,1079,120,RM,4435,CollgCr,6,5,2004,848,848,...,848,1,0,Attchd,2004.0,RFn,2,False,False,False
709,710,20,RL,7162,Sawyer,5,7,1966,904,904,...,904,1,0,Attchd,1966.0,Unf,1,False,False,False
1317,1318,120,FV,4230,Somerst,7,5,2006,1352,1352,...,1352,2,0,Attchd,2006.0,RFn,2,False,False,False

In [62]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['MSZoning', 'Neighborhood', 'GarageType',
                                      'GarageFinish'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'MSZoning',
                                          'data_type': dtype('O'),
                                          'mapping': RL         1
RM         2
RH         3
FV         4
C (all)    5
NaN       -2
dtype: int64},
                                         {'col': 'Neighborhood',
                                          'data_type': dtype('O'),
                                          'mapping': SWISU       1
NAm...
                                           learning_rate=0.1, loss='ls',
                                           max_depth=3, max_features=None,
                                           max_leaf_nodes=None,
                                           min_impurity_decrease=0.0,
                                           min_impurity_split=None,
                                           min_samples_leaf=1,
                                           min_samples_split=2,
                                           min_weight_fraction_leaf=0.0,
                                           n_estimators=100,
                                           n_iter_no_change=None,
                                           presort='deprecated',
                                           random_state=None, subsample=1.0,
                                           tol=0.0001, validation_fraction=0.1,
                                           verbose=0, warm_start=False))],
         verbose=False)

In [63]:
pipe.predict(X_test)

array([198770.67130608, 268528.82406841, 109020.96949973, 125775.84500567,
       124332.29760917, 135684.07621941,  72600.18067677, 119142.4333531 ,
       407215.40510364, 108748.46887899, 191138.46630167, 267628.50607001,
       200805.34014611,  96401.05150772, 302348.19082855, 262960.2428921 ,
       263469.35513258, 193396.88661826, 239312.01011627, 194295.02387241,
       193530.86180598, 167733.91455101, 242421.82093481, 113004.4134232 ,
       248179.53626261, 163587.59312194, 199139.77275281, 191806.56164335,
       279764.55271862, 188963.6568579 , 146607.62394496, 199899.52262382,
       171616.6732063 , 129328.65426646, 169289.79516736, 100270.16102541,
       300727.04602674, 236136.09522347, 313970.22155958,  91726.72535382,
       173308.43959671, 135621.62114956, 195155.06516301, 183848.04816866,
       157820.39820624, 171145.27807305, 317344.77876621, 152575.08107046,
       224554.9227107 , 313207.75494061, 184541.33772584, 208010.08390952,
       119087.4183735 , 104804.18472615, 192857.00125974, 473725.99346758,
       137825.19417797, 124937.04624783, 181066.48497105, 391360.07803312,
       251479.89555326, 130692.83632393, 138571.90060789, 164178.64049532,
       152304.47921798, 134297.05987765, 158483.36584992, 128184.50120623,
       165511.61596603, 264184.93675877, 265792.27586179, 132333.85122822,
       185416.24951955, 358212.80072203, 127985.15872354, 160694.88375032,
       116164.29391674,  85363.864748  , 174509.7563953 , 148676.7577909 ,
       224137.70289954, 164603.72251481, 133574.60151855, 309439.00162387,
       167984.76971626, 129073.52359338, 216465.86474381, 132440.41845738,
       156042.50315033, 173122.47456176, 211464.77602955, 107288.40075536,
       117916.948978  , 144110.99243609, 116214.85805504, 125257.15698894,
        97189.1270199 ,  87015.22428526,  71437.26214656, 228083.57933951,
       147378.31843223, 232783.46796593, 198770.67130608,  42945.75873368,
       159995.8613869 , 143928.23205641,  90496.38937096, 168032.30832123,
       249585.94529074, 122602.5620915 , 129319.04411478, 100521.42716269,
       150873.77987385, 135507.70483488, 252551.6805112 , 262111.36958832,
       255748.78517384, 118948.94830871, 129346.03053143, 286478.33757234,
       135631.81753597, 201413.26738368, 111095.5647999 , 137011.48623968,
       189980.37277947, 146291.897118  , 153776.60970698, 274745.8811047 ,
       157507.4490798 , 180898.27110683, 208665.94216323, 186659.4803926 ,
       182402.13444202, 102025.15880217, 159614.66523007, 112407.06776711,
       200250.86847664, 192322.24140722,  81433.23870678, 340120.45096954,
       109662.47792852, 116818.24121261, 144217.92565584, 128272.80149068,
       161602.73952708, 129272.03439805, 232940.81969163, 167169.18853573,
       162171.51474489, 211161.97760025, 116105.43884237, 209598.39309728,
       156697.2560803 , 365235.91396024, 155163.84467805, 112803.96121065,
       247377.54965855, 134741.49358787, 120138.66730014, 141336.41544585,
       191228.93856379, 306328.96104715, 221853.30622888, 160733.85025314,
       362913.90751323, 127243.51399581, 210032.02580497, 425573.81434827,
       263702.47250122, 155308.8626572 , 147196.72747467, 229669.93163588,
       255740.63113798, 238362.94007518, 153629.27696711, 250706.74789839,
       117194.8508074 , 171972.64977164, 127082.99235744, 168032.68199308,
       282440.1572814 , 161145.13663437, 122697.74595081, 163873.21753306,
       151400.83824789, 222281.91371133, 294215.14145676, 335273.53185682,
        61088.24733864, 148385.56585742,  94174.03656327, 275805.95672274,
       183848.04816866, 121617.74109525, 146449.59362321, 125234.54497682,
       323832.6900685 , 126146.01982418, 133571.77892997, 229398.7029952 ,
       298452.09147718, 158199.48879443, 107908.20078621, 118991.2222491 ,
       195984.20050597, 208046.3898763 , 180341.92358122, 113800.43801341,
       135011.30506786, 142318.88689484, 212818.56866705, 106203.44186361,
       169355.10080681,  90237.66960026, 189436.13909726, 227488.49578826,
       152593.20802045, 132160.47004231, 182164.73872285, 155964.69889524,
       186606.1662719 , 108415.41122473, 187326.69335301,  99704.34871188,
       151142.44882996, 171090.82023265, 264571.95161173, 137597.27976027,
       150028.71489996, 154906.93714673, 107548.10337294, 127035.94955185,
       122326.57909862, 183951.65155738, 331524.49736083, 151254.44278249,
       368834.18328096, 196318.56195363, 228543.2603437 , 183141.92188722,
       146766.093594  , 157254.2745731 , 133779.82364849, 109889.6906443 ,
       119610.26576369, 135570.46851629,  91211.24530572, 122789.47673796,
       152750.14666172, 143295.48114848, 303549.75532038, 149975.58920614,
       156230.74247113, 132941.1736241 , 162173.27484862, 167537.94202548,
       219414.81189915, 243277.79658095, 203003.8800336 , 183921.90149352,
       224681.78617379,  80139.9457689 , 347279.98589606, 179480.1304658 ,
       102431.03070478, 105122.99593782, 177412.5945064 , 150893.69553011,
       163449.77473427, 112662.77977862, 336794.8898727 ,  92738.44748839,
       152743.98615507, 120251.38105204, 151227.70040983, 211432.76150769,
       117289.64598938, 303764.04924954, 177602.04107528, 115965.69092868,
       180478.2265566 ,  67664.98533745, 117280.86859437, 334277.07771451,
       113869.67261217, 515377.75474917, 290928.8786768 , 201980.85265039,
       142685.81502863, 133011.98194661, 198441.32630578, 227409.51666861])

In [64]:
pipe.score(X_test, y_test)

0.8849960329611372

In [65]:
cross_val_score(estimator=pipe, X=X_train, y=y_train, cv=10)

array([0.88087252, 0.88226702, 0.8889444 , 0.86181131, 0.88370862,
       0.87536876, 0.93586783, 0.57931065, 0.82566186, 0.88356465])

In [67]:
bikes = pd.read_csv('../data/bikeshare.csv', parse_dates=['datetime'])

In [70]:
bikes['hour'] = bikes.datetime.dt.hour

In [71]:
bikes['day'] = bikes.datetime.dt.day